@model QuestViewModel
@switch (Model.State)
{
    case QuestState.Active:
        <text>
        <section class="panel panel-success">
            <div class="panel-heading">
                <h3>@Model.Title</h3>
                <span class="text-muted text-right">@Model.Timeout.ToString("mm") minutter igjen</span>
            </div>
        </text>
        break;
    case QuestState.TimedOut:
        <text>
        <section class="panel panel-warning">
            <div class="panel-heading">
                <h3>@Model.Title</h3>
                <span class="text-muted text-right">Tidsfristen har gått ut</span>
            </div>
        </text>
        break;
    case QuestState.Done:
        <text>
        <section class="panel panel-danger">
            <div class="panel-heading">
                <h3>@Model.Title</h3> 
                <span class="text-muted text-right">Trenger godkjenning</span>
            </div>
        </text>
        break;
    case QuestState.Approved:
        <text>
        <section class="panel panel-default">
            <div class="panel-heading">
                <h3>@Model.Title</h3>
                <span class="text-muted text-right">Arkivert</span>
            </div>
        </text>
        break;
    default:
        <text>
        <section class="panel panel-default">
            <div class="panel-heading">
                <h3>@Model.Title</h3>
                <span class="text-muted text-right">No idea</span>
            </div>
        </text>
        break;
}
    <div class="panel-body">
        <table class="table">
            <tr>
                <td><label asp-for="Topic.DisplayName"></label></td>
                <td>@Model.Topic.DisplayName</td>
            </tr>
            <tr>
                <td><label asp-for="Description"></label></td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td><label asp-for="Owner.Name"></label></td>
                <td>@Model.Owner.Name</td>
            </tr>
        </table>
    </div>
    <div class="panel-footer">
        <form class="form-horizontal" method="POST" asp-antiforgery="true">
            @if (!Model.IsOwner)
            {
                <text>
                    <button class="btn btn-primary" type="submit" asp-action="Take" asp-route-id="@Model.Id">Gi hjelp</button>
                </text>
            }
            else
            {
                <!--<button class="btn btn-primary" type="submit" asp-action="Details" asp-route-id="@Model.Id">Details</button>-->
                @switch (Model.State)
                {
                    case QuestState.Active:
                        <text>
                            <button class="btn btn-primary" type="submit" asp-action="Delete" asp-route-id="@Model.Id">Slett</button>
                        </text>
                        break;
                    case QuestState.TimedOut:
                        <text>
                            <a class="btn btn-primary" asp-action="Reactivate" asp-route-id="@Model.Id">Reaktiver</a>
                        </text>
                        break;
                    case QuestState.Done:
                        <text>
                            <button class="btn btn-primary" type="submit" asp-action="Approve" asp-route-id="@Model.Id">Godkjenn</button>
                        </text>
                        break;
                    case QuestState.Approved:
                        <text>
                        </text>
                        break;
                    default:
                        <text>
                        </text>
                        break;
                }
            }
        </form>
        
    </div>
</section>