@model PlayerViewModel 
@{ ViewBag.Title = "Detaljer"; }

<h1>@ViewBag.Title</h1>
<section class="panel panel-default">
    <h3 class="panel-heading">@Model.Name</h3>
    <div class="panel-body">
        <form class="form-horizontal" method="POST" asp-antiforgery="true">
            <table class="table">
                <tr>
                    <td><label asp-for="Email"></label></td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td><label asp-for="Nic"></label></td>
                    <td>@Model.Nic</td>
                </tr>
                @for (var i = 0; i < Model.Competencies.Count(); i++) {
                <tr>
                    <td>
                        <input asp-for="@Model.Competencies[i].Active" />
                        <input asp-for="@Model.Competencies[i].Id" type="hidden"/>
                    </td>
                    <td>@Model.Competencies[i].TopicDisplayName</td>
                </tr>
                }
            </table>
            <div class="form-group">
                <div class="col-sm-offset-2">
                    <button class="btn btn-primary" type="submit">Lagre</button>
                </div>
            </div>

        </form>
    </div>
</section>